#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

h1 {
  font-size: 72px;
  background-image: linear-gradient(45deg, #ca4246, #e16541, #f18f43, #8b9862, #476098, #a7489b);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  background-image: linear-gradient(to right, #ca4246, #e16541, #f18f43, #8b9862);
  padding: 0.5rem 1rem;
  width: 10rem;
  margin-top: 3rem;
  /* background-image: linear-gradient(45deg, #ca4246, #e16541, #f18f43, #8b9862, #476098, #a7489b); */
}
